*{
    box-sizing: border-box;
}

@import url('https://fonts.cdnfonts.com/css/berold');

body{
    font-family: 'Forum', serif;
    overflow-x: hidden;
}

h2{
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px; /* 112.5% */
    letter-spacing: 2px;
    text-align: center;
}

.button{
    border-radius: 2px;
    background: #DEB077;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.20);
    padding: 20px 34px;
    color: #242424;
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 30.979px; /* 123.917% */
    letter-spacing: 1.25px;
    cursor: pointer;
    transition: all .5s;
    border: none;
}

.button:hover,
.button:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

a{
    text-decoration: none;
    transition: all .5s;
}


.wrapper{
    padding-left: 60px;
    padding-right: 60px;
    margin: 0 auto;
}

.header{
    background-image: url(../img/background.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFF;
    position: relative;
    z-index: 1;
}

.header::before{
    content: url(../img/left.png);
    position: absolute;
    top: 0;
    left: 0;

}

.header::after{
    content: url(../img/right.png);
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.header-inner .content{
    max-width: 560px;
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
}

.top-content{
    max-width: 317px;
    margin: 0 auto;
}

.top-content img{
    margin-bottom: 23px;
    width: 100%;
}

.top-content p{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.middle-content{
    max-width: 442px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.middle-content img{
    width: 100%;
}

.bottom-content p:first-child{
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 1.75px;
    margin-bottom: 21px;
}

.bottom-content p:last-child{
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.783px;
    letter-spacing: 1.5px;
    margin-bottom: 33px;
}

.header-nav{
    display: flex;
    padding-bottom: 33px;
}

.special{
    width: 38%;
}

.header-nav_panel{
    width: 55%;
    display: flex;
    justify-content: space-between;
}

.start{
    background-image: url(../img/background_2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFF;
}

.content{
    padding-top: 31px;
    padding-bottom: 29px;
}

.all{
    margin-bottom: 72px;
}

.all h2{
    max-width: 778px;
    margin: 0 auto;
    margin-bottom: 49px;
}

.all-cards{
    display: flex;
    justify-content: space-between;
}

.all-cards_item{
    width: 33%;
    margin-right: 40px;
    text-align: center;
}

.all-cards_item img{
    width: 100%;
    margin-bottom: 28px;
}

.all-cards_item h3{
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 23.6px;
    letter-spacing: 1.3px;
    margin-bottom: 29px;
}

.all-cards_item p{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 1px;
    max-width: 296px;
    margin: 0 auto;
    margin-bottom: 61px;
}

.all-cards_item .button{
    padding: 15px 34px;
}

.exhibition h2{
    margin-bottom: 46px;
}

.exhibition-inner{
    display: flex;
}

.exhibition-gallery{
    width: 60%;
    margin-right: 60px;
}

.gallery-item .d-flex{
    flex-direction: row-reverse;
    margin-bottom: 30px;
}

.gallery-item .d-flex .me-3{
    margin-right: 0 !important;
}

.gallery-item .d-flex .nav button{
    padding: 0;
    min-width: 140px;
    max-height: 88px;
    margin-bottom: 30px;
    background-color: transparent;
}

.gallery-item .d-flex .nav button:last-child{
    margin-bottom: 0;
}

.gallery-item .d-flex .nav button img{
    width: 100%;
}

.gallery-item .tab-content{
    margin-right: 40px;
}

.gallery-item .tab-content{
    min-height: 324px;
}

.gallery-item .tab-content img{
    width: 100%;
    min-height: 324px;
}

.gallery-info p{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 1px;
    text-align: justify;
}

.gallery-info p:first-child{
    margin-bottom: 20px;
}

.exhibition-date{
    width: 30%;
}

.exhibition-date img{
    margin-bottom: 65px;
    margin-top: 23px;
    margin-bottom: 65px;
    width: 100%;
    max-width: 361px;
}

.exhibition-date p{
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 30.979px;
    letter-spacing: 1.25px;
    color: #DEB077;
    text-align: center;
    margin-bottom: 17px;
}

.exhibition-date p:last-child{
    color: #DEB077;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 1.15px;
    max-width: fit-content;
    margin: 0 auto;
    padding-bottom: 4px;
    border-bottom: 1px solid #DEB077;
}

.exhibition-date a{
    display: block;
    text-align: center;
    /* margin: 0 auto; */
    line-height: 22px;
    padding: 20px 34px;
    max-width: 361px;
    margin-bottom: 20px;
}

.kids{
    background-image: url(../img/background.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding-top: 30px;
    padding-bottom: 34px;
}

.kids h2{
    margin-bottom: 46px;
}

.kids-inner{
    display: flex;
}

.kids-gallery{
    width: 60%;
    margin-right: 60px;
}

.kids-date{
    width: 30%;
}

.kids-date img{
    margin-bottom: 33px;
    width: 100%;
    max-width: 361px;
}

.kids-date a{
    display: block;
    text-align: center;
    /* margin: 0 auto; */
    line-height: 22px;
    padding: 20px 34px;
    max-width: 361px;
    margin-bottom: 20px;
}

.kids-date p{
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 30.979px;
    letter-spacing: 1.25px;
    color: #DEB077;
    text-align: center;
    margin-bottom: 17px;
}

.kids-date p:last-child{
    color: #DEB077;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 1.15px;
    max-width: fit-content;
    margin: 0 auto;
    padding-bottom: 4px;
    border-bottom: 1px solid #DEB077;
}

.christmas{
    background-image: url(../img/background_2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFF;
    padding-top: 49px;
    padding-bottom: 30px;
}

.christmas h2{
    margin-bottom: 43px;
}

.christmas-inner{
    display: flex;
}

.christmas-gallery{
    width: 60%;
    margin-right: 60px;
}

.christmas-date{
    width: 30%;
}

.christmas-date img{
    margin-bottom: 33px;
    width: 100%;
    max-width: 361px;
}

.christmas-date a{
    display: block;
    text-align: center;
    /* margin: 0 auto; */
    line-height: 22px;
    padding: 20px 34px;
    max-width: 361px;
    margin-bottom: 20px;
}

.christmas-date p{
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 30.979px;
    letter-spacing: 1.25px;
    color: #DEB077;
    text-align: center;
    margin-bottom: 17px;
}

.christmas-date p:last-child{
    color: #DEB077;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 1.15px;
    max-width: fit-content;
    margin: 0 auto;
    padding-bottom: 4px;
    border-bottom: 1px solid #DEB077;
}

.location{
    background-image: url(../img/background.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFF;
    padding-top: 63px;
    padding-bottom: 61px;
}

.location-inner{
    display: flex;
    align-items: center;
}

.location-info{
    width: 50%;
}

.location-info h2{
    text-align: left;
    margin-bottom: 25px;
}

.location-info p{
    text-align: left;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 1.2px;
    max-width: 443px;
    margin-bottom: 25px;
}

.location-info p:last-child{
    margin-bottom: 0;
    max-width: 461px;
}

.location-map{
    width: 50%;
}

.partners{
    background-image: url(../img/background_2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFF;
    padding-top: 30px;
    padding-bottom: 46px;
}

.partners h2{
    margin-bottom: 42px;
}

.partners-inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.partners-item{
    width: 25%;
    max-width: 190px;
    min-height: 100px;
    margin-right: 83px;
}

.partners-item img{
    width: 100%;
}

.partners-item:nth-child(4){
    margin-right: 0;
    margin-bottom: 36px;
}

.partners-item:last-child{
    margin-right: 0;
}

.ticket{
    background-image: url(../img/background.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFF;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
}

.ticket::before{
    content: url(../img/ticket_img.png);
    position: absolute;
    left: 0;
    bottom: -2px;
}

.ticket-info{
    text-align: center;
}

.ticket-info h2{
    margin-bottom: 28px;
}

.ticket-info a{
    display: inline-block;
    line-height: 21px;
    margin-bottom: 25px;
}

.ticket-info p{
    color: #DEB077;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 1.15px;
    max-width: fit-content;
    margin: 0 auto;
    border-bottom: 1px solid #DEB077;
    padding-bottom: 3px;
}

.faq{
    background-image: url(../img/background_2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFF;
    padding-top: 30px;
    padding-bottom: 119px;
    position: relative;
}

.faq::after{
    content: url(../img/faq_img.png);
    position: absolute;
    bottom: 0;
    right: 0;
}

.faq-inner h2{
    margin-bottom: 29px;
}

.faq-questions .accordion h2{
    margin-bottom: 0;
}

.faq-questions .accordion{
    max-width: 700px;
    --bs-accordion-border-color: none;
    --bs-accordion-bg: transparent;
    --bs-accordion-color: #fff;
    --bs-accordion-btn-color: #fff;
    --bs-accordion-btn-icon: url(https://i.ibb.co/KWPXLLd/down.png);
}

.faq-questions .accordion .accordion-button{
    padding: 0;
    padding-bottom: 5px;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1.25px;
    border-bottom: 1px solid #fff;
    margin-bottom: 49px;
}

.accordion-button:not(.collapsed){
    color: #DEB077;
    background-color: transparent;
    border-bottom: 1px solid #DEB077;
}

.accordion-body{
    padding: 0;
    margin-bottom: 30px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1px;
    text-align: justify;
    color: #DEB077;
}

.accordion-button:focus{
    box-shadow: none;
    border-color: #DEB077;
}

.faq-questions .accordion .accordion-button:focus{
    border-color: #DEB077 !important;
}

.faq-questions .accordion .accordion-button:active{
    border-color: #DEB077 !important;
}

.accordion-button:not(.collapsed)::after{
    background-image: url(https://i.ibb.co/VTshFBY/up.png);
    transform: none;
}

.accordion-item:last-of-type .accordion-button.collapsed{
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.footer{
    background-image: url(../img/background.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFF;
    padding-top: 28px;
    padding-bottom: 41px;
}

.footer-content_top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 34px;
    align-items: center;
}

.footer-content_top div{
    width: 33%;
}

.footer-content_top div img{
    max-height: 47px;
}

.footer-content_top div:first-child{
    max-height: 47px;
}

.footer-content_top div:first-child button{
    background: transparent;
    border: none;
}

.footer-content_top div:nth-child(2){
    display: flex;
    text-align: center;
}

.footer-content_top div p{
    width: 50%;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 23.001px;
}

.footer-content_top div a{
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 1px;
    display: inline-block;
    color: #fff;
}

.footer-content_top div a:hover{
    color: #DEB077;
}

.footer-content_bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content_bottom div{
    width: 33%;
}

.footer-content_bottom div:first-child{
    max-width: 173px;
    max-height: 99px;
    margin: 0px 74px;
}

.footer-content_bottom div:first-child img{
    max-width: 173px;
    max-height: 99px;
}

.footer-content_bottom div:nth-child(2) a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.footer-content_bottom div:nth-child(2) a img{
    margin-right: 5px;
}

.footer-content_bottom div:nth-child(2) a p{
    font-size: 29.4px;
    font-style: normal;
    font-weight: 400;
    line-height: 37.239px; /* 126.667% */
    letter-spacing: 1.617px;
    text-transform: uppercase;
}

.footer-content_bottom div:last-child p{
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 1px;
    max-width: 305px;
    margin-bottom: 15px;
}

.footer-content_bottom div:last-child a{
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 1px;
    color: #fff;
}

.footer-content_bottom div:last-child a:hover{
    color: #DEB077;
}
